{% extends "../base.html" %}
{% from tornado.options import options %}

{% block bodyClass %} logged_out  macintosh vis-public env-production  {% end %} 
{% block body%}
    <div class="hentry">
        <div class="pagehead repohead instapaper_ignore readability-menu ">
            <div class="container">
                <div class="title-actions-bar">
                    <h1 class="entry-title public">
                        <span class="repo-label"><span>public</span></span>
                        <span class="mega-octicon octicon-repo"></span>
                        <span class="author vcard">
                            <a href="/mqshen" class="url fn" itemprop="url" rel="author">
                                <span itemprop="title">{{currentUser.url}}</span>
                            </a>
                        </span> /
                        <strong><a href="/mqshen/MyTask" class="js-current-repository">{{repository.name}}</a></strong>
                    </h1>
                </div>
                <ul class="tabs with-details-box">
                    <li class="pulse-nav">
                        <a href="/{{userUrl}}/{{repository.name}}/pulse" class="js-selected-navigation-item " rel="nofollow">
                            <span class="octicon octicon-pulse"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/{{userUrl}}/{{repository.name}}" class="js-selected-navigation-item selected">代码</a>
                    </li>
                    <li>
                        <a href="/{{userUrl}}/{{repository.name}}/graphs" class="js-selected-navigation-item">网络</a>
                    </li>
                    <li>
                        <a href="/{{userUrl}}/{{repository.name}}/graphs" class="js-selected-navigation-item">问题</a>
                    </li>
                    <li>
                        <a href="/{{userUrl}}/{{repository.name}}/graphs" class="js-selected-navigation-item">统计</a>
                    </li>
                </ul>
            </div>
            <div class="tabnav">
                <span class="tabnav-right">
                    <ul class="tabnav-tabs">
                        <li>
                            <a href="/{{userUrl}}/{{repository.name}}/tags" 
                                class="js-selected-navigation-item tabnav-tab">Tags
                                <span class="counter blank">0</span>
                            </a>
                        </li>
                    </ul>
                </span>
                <div class="tabnav-widget scope">
                    <div class="select-menu js-menu-container js-select-menu js-branch-menu">
                        <a class="minibutton select-menu-button js-menu-target" data-hotkey="w" data-ref="master">
                            <span class="octicon octicon-branch"></span>
                            <i>分支:</i>
                            <span class="js-select-button">master</span>
                        </a>
                        <div class="select-menu-modal-holder js-menu-content js-navigation-container">
                            <div class="select-menu-modal">
                                <div class="select-menu-header">
                                    <span class="select-menu-title">Switch branches/tags</span>
                                    <span class="octicon octicon-remove-close js-menu-close"></span>
                                </div> <!-- /.select-menu-header -->
                                <div class="select-menu-filters">
                                    <div class="select-menu-text-filter">
                                        <input type="text" id="commitish-filter-field" 
                                            class="js-filterable-field js-navigation-enable" placeholder="Filter branches/tags">
                                    </div>
                                <div class="select-menu-tabs">
                                    <ul>
                                        <li class="select-menu-tab">
                                            <a href="#" data-tab-filter="branches" class="js-select-menu-tab">Branches</a>
                                        </li>
                                        <li class="select-menu-tab">
                                            <a href="#" data-tab-filter="tags" class="js-select-menu-tab">Tags</a>
                                        </li>
                                    </ul>
                                </div><!-- /.select-menu-tabs -->
                            </div><!-- /.select-menu-filters -->
                            <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket css-truncate">
                                <div data-filterable-for="commitish-filter-field" data-filterable-type="substring">
                                    <div class="select-menu-item js-navigation-item selected">
                                        <span class="select-menu-item-icon octicon octicon-check"></span>
                                        <a href="/{{userUrl}}/{{repository.name}}/tree/master" 
                                            class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target" 
                                            data-name="master" rel="nofollow" title="master">
                                            master
                                        </a>
                                    </div> <!-- /.select-menu-item -->
                                </div>
                                <div class="select-menu-no-results">Nothing to show</div>
                            </div> <!-- /.select-menu-list -->
                            <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket css-truncate" 
                                data-tab-filter="tags">
                                <div data-filterable-for="commitish-filter-field" data-filterable-type="substring">
                                </div>
                                <div class="select-menu-no-results">Nothing to show</div>
                            </div> <!-- /.select-menu-list -->
                        </div> <!-- /.select-menu-modal -->
                    </div> <!-- /.select-menu-modal-holder -->
                </div> <!-- /.select-menu -->
            </div> <!-- /.scope -->
            <ul class="tabnav-tabs">
                <li>
                    <a href="/{{userUrl}}/{{repository.name}}" class="js-selected-navigation-item tabnav-tab" >
                        文件
                    </a>
                </li>
                <li>
                    <a href="/{{userUrl}}/{{repository.name}}/commits/master" class="selected js-selected-navigation-item tabnav-tab" >
                        提交
                    </a>
                </li>
                <li>
                    <a href="/{{userUrl}}/{{repository.name}}/branches" class="js-selected-navigation-item tabnav-tab" rel="nofollow">
                        分支<span class="counter ">1</span></a>
                </li>
            </ul>
        </div>
        <div id="js-repo-pjax-container" class="container context-loader-container">
            <div class="breadcrumb">
                <span class="bold">
                    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/{{userUrl}}/{{repository.name}}" class="js-slide-to" data-branch="master" data-direction="back" itemscope="url">
                            <span itemprop="title">
                                {{repository.name}}
                            </span>
                        </a>
                    </span>
                </span>
            </div>
            <div class="js-navigation-container js-active-navigation-container" data-navigation-scroll="page" id="commit_container">
            </div>
        <div>
    </div>
{% end %}

{% block script %}
$(function(){

var lastDay = ''

var $commitContainer = $('#commit_container')
var $lastDayContainer 
function callback(responseData) {
    for(i in responseData.content) {
        var commit = responseData.content[i]
        var createTime = $.lily.format.parseDate(commit.date, "yyyy-mm-dd hh:mi:ss")
        if(!createTime.isSameDay(lastDay)) {
            var $title = $('<h3 class="commit-group-heading">' + createTime.format("yyyy-mm-dd") + '</h3>')
            $commitContainer.append($title)
            $lastDayContainer = $('<ol class="commit-group"></ol>') 
            $commitContainer.append($lastDayContainer)
            lastDay = createTime
        }
        var $commitItem = $('<li class="commit commit-group-item js-navigation-item js-details-container">'
            + '<img class="gravatar" height="36" src="" width="36">'
            + '<p class="commit-title  js-pjax-commit-title">'
            + '<a href="/{{userUrl}}/{{repository.name}}/commit/' + commit.raw_id + '" class="message">'
            + commit.message + '</a>'
            + '<span class="hidden-text-expander inline"><a href="#" class="js-details-target">…</a></span>'
            + '</p><div class="commit-meta">'
            + '<div class="commit-links">'
            + '<a href="/{{userUrl}}/{{repository.name}}/commit/' + commit.raw_id + '" class="gobutton ">'
            + '<span class="sha">' + commit.short_id + '<span class="octicon octicon-arrow-small-right"></span></span>'
            + '</a>'
            + '</div>'
            + '<div class="authorship">'
            + '<span class="author-name"><a href="/' + commit.author + '" rel="author">' + commit.author + '</a></span>'
            + 'authored <time class="js-relative-date timeago" data-time="' + createTime.format("yyyy-mm-dd hh:mi:ss") + '" ></time>'
            + '</div></div></li>')
        $lastDayContainer.append($commitItem)
    }
    $('.timeago').timeago()
}

function queryFiles(page) {
    $.lily.showWait($('.frames'))
    $.lily.ajax({
        url: "/{{userUrl}}/{{repository.name}}/commits/master" ,
		type: 'post',
        processResponse : callback
	});
}

queryFiles(0);

})

{% end %}
